
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My landmark</title>
    <link rel="stylesheet" href="~/Content/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/css/main.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>

</head>
<body>
    <script>
        $(document).ready(function () {


        })
    </script>
    <!-- Статическая навигационная панель -->
    <nav class="navbar navbar-toggleable-md navbar-light mld-bg-title1">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="~/Views/Home/Index.cshtml"><i class="logo"></i>My landmarks</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>

            </ul>

        </div>
    </nav>
    <div> 
    </div>
</body>
</html>
